.title {
  width: 100%;
  text-align: center;
  margin-top: 200px;

}

/* .title #people {
  align-content: center;
} */

#people {
  margin-bottom: 15px;
  text-align: center;
  margin-left: 150px;
}

DateApp {
  padding-left: 1000%;
}


